<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${product.productName}">Kołpaki</title>
    <link  th:href="@{/css/css.css}" rel="stylesheet">
</head>
<body>
<div th:replace="header"></div>
<div>
    <div>
        <img  th:src="@{${product.imageUrl}}"  alt="picture" />
        <div>
            <h1  th:text="${product.productName}">Nazwa części </h1>
            <h3  th:text="|Cena ${product.productPrice} zł|">Cena: 25zł</h3>
            <h3  th:text="|Ilość ${product.productStock} szt.|">IlOŚĆ: 10 szt.</h3>
            <p   th:text="${product.productLongDescription}">Dłuższy opis produktu.</p>
        </div>
    </div>
</div>
</body>
</html>